**SWAPAN CHETRI**

In [ ]:
# importing pandas library
import pandas as pd

In [ ]:
# creating a series object
a=pd.Series(["swapan","sanjeev,debdut"])
a

0            swapan
1    sanjeev,debdut
dtype: object

In [ ]:
# creating pandas dataframe
b=pd.DataFrame({"name":["swapan","sanjeev","prateek","debdut"],"marks":[90,95,60,77]})
b

      name  marks
0   swapan     90
1  sanjeev     95
2  prateek     60
3   debdut     77

In [ ]:
# importing a new dataset
df=pd.read_csv("annual-enterprise-survey-2020-financial-year-provisional-size-bands-csv.csv")

In [ ]:
# printing first 5 elements
df.head()

   year industry_code_ANZSIC  ...  value               unit
0  2011                    A  ...  46134              COUNT
1  2011                    A  ...      0              COUNT
2  2011                    A  ...    279  DOLLARS(millions)
3  2011                    A  ...   8187  DOLLARS(millions)
4  2011                    A  ...   8866  DOLLARS(millions)

[5 rows x 7 columns]

In [ ]:
# printing last 5 elements
df.tail()

       year industry_code_ANZSIC  ...    value               unit
15475  2020                  all  ...   733258  DOLLARS(millions)
15476  2020                  all  ...   654872  DOLLARS(millions)
15477  2020                  all  ...    77389  DOLLARS(millions)
15478  2020                  all  ...  2396143  DOLLARS(millions)
15479  2020                  all  ...   562646  DOLLARS(millions)

[5 rows x 7 columns]

In [ ]:
# printing last 10 elements
df.tail(10)

      year1  year  ...  value               unit
1030   2011  2011  ...   1483  DOLLARS(millions)
1031   2011  2011  ...   1297  DOLLARS(millions)
1032   2011  2011  ...    143  DOLLARS(millions)
1033   2011  2011  ...   1720  DOLLARS(millions)
1034   2011  2011  ...     88  DOLLARS(millions)
1035   2011  2011  ...     51              COUNT
1036   2011  2011  ...  23442              COUNT
1037   2011  2011  ...   1751  DOLLARS(millions)
1038   2011  2011  ...   4660  DOLLARS(millions)
0      2011  2011  ...  46134              COUNT

[10 rows x 8 columns]

In [ ]:
# printing a specific column
df[["year"]]

       year
0      2011
1      2011
2      2011
3      2011
4      2011
...     ...
15475  2020
15476  2020
15477  2020
15478  2020
15479  2020

[15480 rows x 1 columns]

In [ ]:
# to describe a column
df.describe()

               year
count  15480.000000
mean    2015.500000
std        2.872374
min     2011.000000
25%     2013.000000
50%     2015.500000
75%     2018.000000
max     2020.000000

In [ ]:
# accessing rows and columns
df.loc[:10,:]

    year industry_code_ANZSIC  ...  value               unit
0   2011                    A  ...  46134              COUNT
1   2011                    A  ...      0              COUNT
2   2011                    A  ...    279  DOLLARS(millions)
3   2011                    A  ...   8187  DOLLARS(millions)
4   2011                    A  ...   8866  DOLLARS(millions)
5   2011                    A  ...   7618  DOLLARS(millions)
6   2011                    A  ...    770  DOLLARS(millions)
7   2011                    A  ...  55700  DOLLARS(millions)
8   2011                    A  ...  32155  DOLLARS(millions)
9   2011                    A  ...  21777              COUNT
10  2011                    A  ...  38136              COUNT

[11 rows x 7 columns]

In [ ]:
# accessing rows and columns
df.loc[:10,"year":"variable"]

    year  ...                                         variable
0   2011  ...                                    Activity unit
1   2011  ...                           Rolling mean employees
2   2011  ...                          Salaries and wages paid
3   2011  ...  Sales, government funding, grants and subsidies
4   2011  ...                                     Total income
5   2011  ...                                Total expenditure
6   2011  ...                      Operating profit before tax
7   2011  ...                                     Total assets
8   2011  ...                            Fixed tangible assets
9   2011  ...                                    Activity unit
10  2011  ...                           Rolling mean employees

[11 rows x 5 columns]

In [ ]:
df.iloc[:4,:2]

   year industry_code_ANZSIC
0  2011                    A
1  2011                    A
2  2011                    A
3  2011                    A

In [ ]:
# counting the values
df['industry_name_ANZSIC'].value_counts()

Agriculture, Forestry and Fishing                  810
Mining                                             810
Other Services                                     810
Arts and Recreation Services                       810
Health Care and Social Assistance                  810
Education and Training                             810
Public Administration and Safety                   810
Administrative and Support Services                810
Professional, Scientific and Technical Services    810
Rental, Hiring and Real Estate Services            810
Financial and Insurance Services                   810
Information Media and Telecommunications           810
Transport, Postal and Warehousing                  810
Accommodation and Food Services                    810
Retail Trade                                       810
Wholesale Trade                                    810
Construction                                       810
Electricity, Gas, Water and Waste Services         810
Manufacturing                                      810
All Industries                                      90
Name: industry_name_ANZSIC, dtype: int64

In [ ]:
# dropping duplicates
df.drop_duplicates(inplace=True)

In [ ]:
# sorting values
df.sort_values(by='year', inplace=True,ascending=False)

In [ ]:
df.head()

       year industry_code_ANZSIC  ...   value               unit
15479  2020                  all  ...  562646  DOLLARS(millions)
14415  2020                    F  ...    4246  DOLLARS(millions)
14441  2020                    G  ...    4722  DOLLARS(millions)
14442  2020                    G  ...     183  DOLLARS(millions)
14443  2020                    G  ...    1871  DOLLARS(millions)

[5 rows x 7 columns]

In [ ]:
# finding mean
df["year"].mean()

2015.5

In [ ]:
# finding median
df["year"].median()

2015.5

In [ ]:
# finding standard deviation
df["year"].std()

2.8723741017086684

In [ ]:
# printing data types of all columns
df.dtypes

year                     int64
industry_code_ANZSIC    object
industry_name_ANZSIC    object
rme_size_grp            object
variable                object
value                   object
unit                    object
dtype: object

In [ ]:
# printing the shape of table
df.shape

(15480, 7)

In [ ]:
# printing the size of columns
df.size

108360

In [ ]:
# checking for null values
df.isna().any()

year                    False
industry_code_ANZSIC    False
industry_name_ANZSIC    False
rme_size_grp            False
variable                False
value                   False
unit                    False
dtype: bool

In [ ]:
# calculating the null values
df.isnull().sum()

year                    0
industry_code_ANZSIC    0
industry_name_ANZSIC    0
rme_size_grp            0
variable                0
value                   0
unit                    0
dtype: int64

In [ ]:
# calculating the unique values 
df["year"].nunique()

10

In [ ]:
# printing the columns
df.columns

Index(['year', 'industry_code_ANZSIC', 'industry_name_ANZSIC', 'rme_size_grp',
       'variable', 'value', 'unit'],
      dtype='object')

In [ ]:
# printing the top 5 smallest values
df["year"].nsmallest()

519    2011
510    2011
511    2011
512    2011
513    2011
Name: year, dtype: int64

In [ ]:
# printing the top 5 largest values
df["year"].nlargest()

15479    2020
14415    2020
14441    2020
14442    2020
14443    2020
Name: year, dtype: int64

In [ ]:
# slicing the table
df[:4]

       year industry_code_ANZSIC  ...   value               unit
15479  2020                  all  ...  562646  DOLLARS(millions)
14415  2020                    F  ...    4246  DOLLARS(millions)
14441  2020                    G  ...    4722  DOLLARS(millions)
14442  2020                    G  ...     183  DOLLARS(millions)

[4 rows x 7 columns]

In [ ]:
# dropping the columns
df=df.drop(df[["year"]],axis=1)

      industry_code_ANZSIC  ...               unit
15479                  all  ...  DOLLARS(millions)
14415                    F  ...  DOLLARS(millions)
14441                    G  ...  DOLLARS(millions)
14442                    G  ...  DOLLARS(millions)
14443                    G  ...  DOLLARS(millions)
...                    ...  ...                ...
1035                     M  ...              COUNT
1036                     M  ...              COUNT
1037                     M  ...  DOLLARS(millions)
1038                     M  ...  DOLLARS(millions)
0                        A  ...              COUNT

[15480 rows x 6 columns]

In [ ]:
# insering bthe columns
df.insert(0,"year1",df[["year"]])

In [ ]:
df.head()

       year1  year  ...   value               unit
15479   2020  2020  ...  562646  DOLLARS(millions)
14415   2020  2020  ...    4246  DOLLARS(millions)
14441   2020  2020  ...    4722  DOLLARS(millions)
14442   2020  2020  ...     183  DOLLARS(millions)
14443   2020  2020  ...    1871  DOLLARS(millions)

[5 rows x 8 columns]

In [ ]:
# renaming the columns
df.rename(columns={"year1":"Newyear"})

       Newyear  year  ...   value               unit
15479     2020  2020  ...  562646  DOLLARS(millions)
14415     2020  2020  ...    4246  DOLLARS(millions)
14441     2020  2020  ...    4722  DOLLARS(millions)
14442     2020  2020  ...     183  DOLLARS(millions)
14443     2020  2020  ...    1871  DOLLARS(millions)
...        ...   ...  ...     ...                ...
1035      2011  2011  ...      51              COUNT
1036      2011  2011  ...   23442              COUNT
1037      2011  2011  ...    1751  DOLLARS(millions)
1038      2011  2011  ...    4660  DOLLARS(millions)
0         2011  2011  ...   46134              COUNT

[15480 rows x 8 columns]

In [ ]:
# exporting our csv file to excel file
df.to_excel("new file.xlsx",sheet_name="new")

In [ ]:
# reading the excel file
pd.read_excel("new file.xlsx")

       Unnamed: 0  year1  ...   value               unit
0           15479   2020  ...  562646  DOLLARS(millions)
1           14415   2020  ...    4246  DOLLARS(millions)
2           14441   2020  ...    4722  DOLLARS(millions)
3           14442   2020  ...     183  DOLLARS(millions)
4           14443   2020  ...    1871  DOLLARS(millions)
...           ...    ...  ...     ...                ...
15475        1035   2011  ...      51              COUNT
15476        1036   2011  ...   23442              COUNT
15477        1037   2011  ...    1751  DOLLARS(millions)
15478        1038   2011  ...    4660  DOLLARS(millions)
15479           0   2011  ...   46134              COUNT

[15480 rows x 9 columns]